@model List<BlogStore.EntityLayer.Entities.Article>

<style>
    .fixed-image-size {
        width: 180px; /* istediğiniz genişlik */
        height: 120px; /* istediğiniz yükseklik */
        object-fit: cover; /* kutuya sığdırır ve taşan kısmı kırpar */
    }
</style>

<div class="section search-result-wrap">
    <div class="container">
        <div class="row posts-entry">
            <div class="col-lg-12">
                @foreach (var item in Model)
                {
                    <div class="blog-entry d-flex blog-entry-search-item">
                        <a href="/Article/ArticleDetail/@item.Slug" class="img-link me-4">
                            <img src="@item.ImageUrl" alt="Image" class="img-fluid fixed-image-size">
                        </a>
                        <div>
                            <span class="date">@item.CreatedDate.ToString("dd-MMM-yyyy") <a href="#">@item.Category.CategoryName</a></span>
                            <h2><a href="#">@item.Title</a></h2>
                            <p>@(item.Description.Length > 50 ? item.Description.Substring(0, 200) : item.Description)</p>
                            <p><a href="/Article/ArticleDetail/@item.Slug" class="btn btn-sm btn-outline-primary">Devamını Oku</a></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>